<div class="modal-header bg-primary">
  <h4 class="modal-title text-white" id="modal-basic-title">Open Session</h4>
  <a (click)="activeModal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
    <fa-icon [icon]="faTimes"></fa-icon>
  </a>
</div>
<div class="modal-body">
  <ul class="list-group">
    <li (click)="selectFile(col)" *ngFor="let col of collections"
        class="list-group-item list-group-item-action {{ col == filename ? 'active' : ''}}">
      <b>{{col}}</b>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button (click)="openSession()" class="btn btn-primary" type="button">Open Session</button>
</div>
