<br>
<button type="button" class="btn btn-primary" (click)="isRequestCollapsed = !isRequestCollapsed"
        [attr.aria-expanded]="!isRequestCollapsed" aria-controls="collapseBasic">
  {{ displayName }}
</button>
<hr>
<div id="collapseBasic" [collapse]="isRequestCollapsed" [isAnimated]="true">
  <div class="">

    <div>
      <tabset>
        <tab heading="Basic" id="tab1">
          <table class="table mt-2 table-hover">
            <tbody>
            <tr>
              <th scope="row ">Mime-Type</th>
              <td class="w-50 text-break">{{ networkTraffic['mimeType'] }}</td>
              <td class="w-50 text-break">Otto</td>
            </tr>
            <tr>
              <th scope="row">Charset</th>
              <td class="w-50 text-break">{{ networkTraffic['charset'] }}</td>
              <td class="w-50 text-break">Thornton</td>
            </tr>
            <tr>
              <th scope="row">Content-Encoding</th>
              <td class="w-50 text-break">{{ networkTraffic['contentEncoding'] }}</td>
              <td class="w-50 text-break">the Bird</td>
            </tr>
            </tbody>
          </table>
        </tab>
        <tab heading="Headers">
          <table class="table mt-2 table-hover">
            <tbody>
            <tr *ngFor="let header of requestHeaders">
              <th scope="row">{{ header['name'] }}</th>
              <td class=" w-50 text-break">
                {{ header['value'] }}</td>
              <td class="w-50 text-break">{{header['value2']}}</td>
            </tr>
            </tbody>
          </table>
        </tab>
        <tab heading="Body">
          <div *ngIf="!this.isDiffVisible" class="align-items-center diff-btn m-5 p-5">
            <button (click)="createComponent()" class="btn btn-primary " type="button">
              View Difference
            </button>
          </div>
          <div *ngIf="right">
            <template #diffContainer></template>
          </div>
        </tab>
        <tab heading="Raw">
          <div class="well well-lg card card-block card-header">
            <pre>{{ this.networkTraffic | json }}</pre>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
