<div class="container-fluid h-100 bg-img" style="background-color: ghostwhite">
  <!--  <h1 class="title">-->
  <!--    {{ 'PAGES.HOME.TITLE' | translate }}-->
  <!--  </h1>-->
  <div class="row border-bottom ">
    <div class="col-md-12">
      <h1 class="pt-3 pb-2">NetCMP <small class="text-monospace">S2I</small></h1>
      <div aria-label="Toolbar with button groups" class="btn-toolbar mb-3" role="toolbar">

        <div class="btn-group mr-2" role="group" aria-label="Start">
          <button type="button" class="btn {{isCharlesRunning ? 'btn-danger' : 'btn-primary'}}"
                  (click)="runOrStopCharlesOnClick()">
            {{ isCharlesRunning ? 'Stop Charles' : 'Start Charles' }}
          </button>
        </div>

        <div aria-label="clear-group" class="btn-group mr-2" role="group">
          <button class="btn {{ is1stCompleted ? 'btn-primary' : 'btn-light' }} border"
                  type="button" (click)="runWebAutomation()">
            <span *ngIf="isWebAutomationRunning" class="spinner-border spinner-border-sm" role="status"
                  aria-hidden="true"></span>
            web
          </button>
          <button class="btn {{ is2stCompleted ? 'btn-primary' : 'btn-light' }} border" type="button">
            mobile
          </button>
        </div>
        <div aria-label="clear-group" class="btn-group mr-2" role="group">
          <button class="btn btn-light border" placement="bottom" tooltip="clear" type="button"
                  (click)="clearSession()">
            <fa-icon [icon]="faEraser"></fa-icon>
          </button>
        </div>
        <div aria-label="First group" class="btn-group mr-2 " role="group">
          <button class="btn btn-light border text-info {{ isRecoding ? 'active' : '' }}" placement="bottom"
                  tooltip="record" type="button"
                  (click)="startRecoding()">
            <fa-icon [icon]="faMicrophone"></fa-icon>
          </button>
          <button class="btn btn-light border text-danger" placement="bottom" tooltip="stop" type="button"
                  (click)="completeRecording()">
            <fa-icon [icon]="faStopCircle"></fa-icon>
          </button>
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">@</div>
          </div>
          <input aria-describedby="btnGroupAddon" aria-label="Input group example" class="form-control"
                 placeholder="Input group example"
                 type="text">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-primary">
              <fa-icon [icon]="faArrowRight"></fa-icon>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row h100">
    <ul class="list-group list-group-flush col-3 pr-0">
      <li class="">
        <div class="input-group ">
          <div class="input-group-prepend">
            <button (click)="openSaveModal()" class="btn btn-primary rounded-0" id="btnSaveSession">
              <fa-icon [icon]="faSave"></fa-icon>
            </button>
            <div class="input-group-text" id="btnGroupAddonw">
              <fa-icon [icon]="faFilter"></fa-icon>
            </div>
          </div>
          <input aria-describedby="btnGroupAddon" aria-label="Input group example" class="form-control"
                 placeholder="filter"
                 type="text">
        </div>
      </li>
      <li class="list-group-item list-group-item-action border-right d-flex justify-content-between align-items-center"
          (click)="onClick(item)" *ngFor="let item of items ; let i = index" [attr.data-index]="i">
        <div class="align-content-start">
          <b>{{item.name}}</b>
        </div>

        <div class="align-content-end" style="font-size: 50%">
          <span *ngIf="item.isRequestDiff" class="badge text-danger">
            <fa-icon [icon]="faArrowUp"></fa-icon>
          </span>
          <span *ngIf="item.isResponseDiff" class="badge text-danger">
            <fa-icon [icon]="faArrowDown"></fa-icon>
          </span>
          <span *ngIf="!item.isRequestDiff && !item.isResponseDiff" class="badge text-success ">
            <fa-icon [icon]="faCheck"></fa-icon>
          </span>

          <fa-icon (click)="deleteRecord(i)" [icon]="faTrash" class="px-2"></fa-icon>

        </div>

      </li>
    </ul>
    <div class="col-9 {{ selectedItem ? 'card' : '' }} ">
      <br>
      <div *ngIf="selectedItem">
        <kbd class="my-2 mr-2">{{ selectedItem.method }}</kbd>
        <code><b>{{selectedItem.scheme}}://{{ selectedItem.host }}</b> {{ selectedItem.path }}</code>
        <br>
        query:
        <code> ?{{ selectedItem.query }}</code>
      </div>

      <app-main-body *ngIf="selectedItem" [displayName]="'Request'"
                     [networkTraffic1]="selectedItem['traffic1']['request']"
                     [networkTraffic2]="selectedItem['traffic2']['request']"></app-main-body>

      <app-main-body *ngIf="selectedItem" [displayName]="'Response'"
                     [networkTraffic1]="selectedItem['traffic1']['response']"
                     [networkTraffic2]="selectedItem['traffic2']['response']"></app-main-body>
    </div>
  </div>
</div>

